

#create-list {
  display: flex;
  flex-flow: column;
  padding-bottom: 30px;
  padding-top: 30px;
  justify-content: center;
  align-items: center;
  text-align: left;
}

#list {
  display: flex;
  overflow: scroll;
  padding-top: 30px;
  min-height: 300px;
  height:300px;
}

#form-div {
  padding-top: 30px;
}


.players-page-heading {
  text-align: center;
  display:flex;
  justify-content: center;
  margin: 5px;
}

#add-player-form {
  height: 20px;
}

input#add-player-button {
  align-text: right;
  height: 60px;
}

#map-players {
  flex-direction: row;
  display: flex;

}

.existing-players-table-data {

}

.existing-players-table-delete {

}

.existing-players-table-row {
  display: flex;
  justify-content: flex-end;
  font-size: 26px;
  flex-direction: row;
}
