#stats-box {
  color: white;
}

#stats-heading {
  text-align: center;
  color: white;
  justify-content: center;
}

.stats-table-heading {
  color: white;
  font-size: 1.25em;
}

.stats-player {
  font-size: 1em;
  text-align: center;
}
