#about-container {
  display: grid;
  grid-template-columns: 0.7fr 1.6fr 0.7fr;
  min-width: 45.313em;
  border-bottom: 1px solid black;
}

#about-heading-div {
  grid-column-start:2;
  grid-column-end: span 1;
  text-align: center;
}

#about-heading {
  grid-column-start:2;
  grid-column-end: span 1;
  text-align: center;
  margin:0;
  padding-top: 1.25em;
}

#container-about-center {
  grid-column-start: 2;
  grid-column-end: span 1;
  min-height: 31.250em;
  min-width: 45.313em;
  height: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px black solid;
}

#container-about-left {
  border-left: 1px solid black;
  border-right: 1px solid black;
  grid-column-start: 1;
  grid-column-end: span 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#contributors {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#container-about-right {
  border-left: 1px solid black;
  border-right: 1px solid black;
  grid-column-start: 3;
  grid-column-end: span 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile-pic {
  height: 6em;
}

#project-div {
  padding-top: 1.3em;
  padding-left: 1.3em;
  padding-right: 1.3em;
}

#project-brief {
  padding-left: 1.875em;
  padding-right: 1.875em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.brief-list {
  list-style: circle;
  width: 16em;
}

#mvp-extensions-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#contact-div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#mvp-heading {
  padding-left: 1.250em;
}

#extensions-heading {
  padding-left: 1.250em;
}

.linkedin {
  height: 2em;
}

.github {
  height: 2em;
  padding-left: 1.5em;
}

.social-media-div {
  display: flex;
  justify-content: center;
}

.profile-name {
  font-weight: bold;
}

#ruaridh-div, #connor-div, #brian-div, #daniel-div {
  padding: 1.250em;
}
